@model TodoList.Models.ForgetPasswordModel;
@{ 
    ViewData["Title"] = "Password recovery";
}

<h1>Password Recovery</h1>

<p>Enter account's email from which password you need to recover</p>
@if(TempData["EmailOk"] != null) {<p class="text-success">@TempData["EmailOk"]</p>}

<div class="row">
    <div class="col-md-4">
        @Html.AntiForgeryToken()
        <form asp-action="ForgotPassword">
            @if (TempData["WrongEmail"] != null)
            {<p class="text-danger">@TempData["WrongEmail"]</p>}
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send recovery email" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}