@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Online Todo List</h1>

    <p>This site helps people save and manage their tasks online</p>

    <p>If you here first time then visit <a asp-controller="Identity" asp-action="Login">authorization page</a> and <a asp-controller="Task" asp-action="Create">create first task</a></p>
</div>
